<div class="reply-container">
  <div class="row form-replies">
        <%= form_for @reply, url: user_tweet_replies_path(current_user, @tweet) do |f| %>
    <table>
      <% @tweet_user.each do |u| %>
        <tr>
          <td colspan="2" align="center">
            <h2><p><strong>Reply to tweet</strong></p></h2>
          </td>
        </tr>

        <tr>
          <td class="tweet-pic-align">
            <%= image_tag u.user.img, class: "avatar-pic-for-like" %>
          </td>

          <td class="tweet-details-align">
            <strong><%= u.user.name %></strong> <span class="tweet-name">@<%= u.user.handlename %> · <%= u.created_at.strftime("%e %b") %> </span></br>
            <%= u.tweet %></br>
            <%= image_tag u.image, width: '300em' if u.image? %></br>
          </td>
        </tr>
      <% end %>

        
          <tr>
            <td colspan="2">
              <div class="form-group">  
                <%= f.text_area :reply, placeholder: "Tweet your reply", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.submit "Reply", class: "btn btn-primary" %>
                <%= link_to 'Back', url_for(:back), class: "btn btn-primary" %>
              </div>
            </td>
          </tr>
        <% end %>

        <% @tweet.replies.reverse_each do |reply| %>
          <tr>
            <td class="tweet-pic-align">
              <%= image_tag reply.user.img, class: "avatar-pic-for-like" %>
            </td>

             <td class="tweet-details-align">
              <strong><%= reply.user.name %></strong> <span class="tweet-name">@<%= reply.user.handlename %> · <%= reply.created_at.strftime("%e %b") %> </span></br>
              <%= reply.reply %></br>
              <%= image_tag reply.tweet.image, width: '300em' if reply.tweet.image? %></br>
              
              <% if reply.user.id == current_user.id %>
                <%= link_to "Delete", user_tweet_reply_path(current_user, @tweet, reply), method: :delete %>
              <% end %>
              <br />
            </td>

          </tr>
        <% end %>


    </table>
  </div>

</div>