<div id="editProfileModal" class="modal">
  <div class="edit-profile-container">

  <div class="edit-profile-pdetails">
    <h1 align="center"><u>Edit profile details</u></h1>

    <%= form_for @user do |f| %>
    
    <table>
      <tr>
        <td><h2>Select a new Avatar</h2><%= f.file_field :img, class: "edit-profile-buttons" %></td>
        <% if @user.img? %>
          <td><%= image_tag @user.img, class: "edit-profile-pic" if @user.img? %></br></td>
        <% else %>
          <td><%= image_tag('/assets/MissingProfile.jpg', class: "edit-profile-pic") %></td>
        <% end %>
      </tr>
    </table>
    
    <table>
      <tr>
        <td class="edit-profile-td">
          <%= f.label "Name" %>
        </td>
        <td>
          <%= f.text_field :name, class: "edit-profile-textbox" %>
        </td>
      </tr>

      <tr>
        <td class="edit-profile-td">
          <%= f.label "Handlename @" %>
        </td>
        <td>
          <%= f.text_field :handlename, class: "edit-profile-textbox" %>
        </td>
      </tr>

       <tr>
        <td class="edit-profile-td">
           <%= f.label "email" %>
        </td>
        <td>
          <%= f.text_field :email, class: "edit-profile-textbox" %>
        </td>
       </tr>
    </table></br>

    <%= f.submit class: "edit-profile-btn" %>

    <% end %>
    
  </div>

  </div>
</div>